.FormLayout {
  max-height: calc(100% - 32px);
  border-radius: 24px;
  background-color: var(--primary);
  padding: 24px;
  box-shadow: 0 0 30px #2d4d3c;
  width: calc(100% - 80px);
  margin-left: 80px;
}

.Custom {
  width: 100% !important;
  margin-left: 0 !important;
  margin-top: 50px;
  margin-bottom: 50px;
}
